.live-player-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    .live-player {
        width: 100%;
    }
}
