.livebox {
    border: 2px solid #000;
    .screens {
        display: flex;
        flex-direction: row;
    }
    .video {
        display: block;
        background-color: #333;
        width: 480px;
        height: 360px;
    }
    .btns {
        height: 30px;
        button {
            margin: 0;
        }
    }
}

.canvas-random {
    background-color: #555;
    canvas {
        display: block;
    }
}

.video-port {
    background-color: #555;
    video {
        display: block;
    }
}